@import "captions";
@import "title";

button {
  display: none;
  background: none;
  box-shadow: none;
  border:none;
}

.question {
  &__stem {
    color: #ffffff;
    font-size: 85px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transform: skew(-0.06turn, 18deg);
  }

  &__answer-choices {
    display: flex !important;
    animation: fadein 1s forwards;
  }

  &__answer-choice {
    $shadow-color: #cfbd84;
    $bg-color: #e0e3d3;
    cursor: pointer;
    position: relative;
    display: block;
    margin: 0.5rem 20px 0.5rem 0;
    padding: 0.6em 1.8em 0.9em;
    border: none;
    background-color: $bg-color;
    font-family: monospace;
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #222;
    box-shadow:
      inset 0.1em -0.2em 0 4px $shadow-color,
      inset -0.1em -0.2em 0 4px $shadow-color,
      inset 0.08em -0.18em 0 5px darken($shadow-color, 30%),
      inset -0.08em -0.18em 0 5px darken($shadow-color, 30%),
      0 0.25em 0 0.15em rgba(0,0,0,.2);
    border-radius: 0.8rem;
    overflow:hidden;
    transition: all 90ms ease-in-out;

    &:focus,
    &:active {
      padding: 0.7em 1.8em 0.8em;
      box-shadow:
        inset 0.05em -0.05em 0 2px $shadow-color,
        inset -0.05em -0.05em 0 2px $shadow-color,
        inset 0.03em -0.05em 0 2.5px darken($shadow-color, 30%),
        inset -0.03em -0.05em 0 2.5px darken($shadow-color, 30%),
        0 0.25em 0 0.15em rgba(0,0,0,.2);
    }
  }
}

.play__btn {
  cursor: pointer;
  transition:.1s filter ease-in-out ;
  &:hover {
    filter: hue-rotate(100deg);
  }
}

.sound__btn {
  width: 90px;
  height: auto;
  cursor: pointer;
  opacity: 0;
  animation: fadein 1s forwards;
}


@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
